#main-title {
    font-family: Merriweather-Sans;
    text-transform: none;
    text-align: center;
}

#sub-title {
    font-family: Merriweather-Sans;
    text-transform: none;
    text-align: center;
}